.jogo {
  display: grid;
  justify-content: center;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  column-gap: 8px;
  row-gap: 8px;
  background-color: rgb(255, 164, 164);
  padding: 8px;
}
.casa {
  display: flex;
  font-size: 30px;
  justify-content: center;
  background-color: bisque;
}

.casa:hover {
  background-color: azure;
}
