* {
  box-sizing: border-box;
}

body {
  background-color: rgb(236, 218, 218);
}

.base {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 800px;
}

.sinal {
  display: flex;
  height: auto;
  justify-content: start;

  margin: 0%;
}

.painel {
  display: flex;
  height: 48px;
  background-color: rgb(247, 240, 220);
  justify-content: space-between;
}

.painelMenu {
  padding: 16px;
  justify-content: center;
}

.painelbtn {
  background-color: rgb(250, 212, 165);
  border: 0;
  margin-left: 8px;
}

.painelbtn:hover {
  outline: 2px solid black;
}

.painelbtn:active {
  background-color: rgba(255, 228, 196, 0.753);
}

.painelbtn:focus {
  outline: 2px solid black;
  background-color: rgba(226, 203, 174, 0.753);
}

.jogo {
  display: grid;
  justify-content: center;
  grid-template-columns: 96px 96px 96px;
  grid-template-rows: 96px 96px 96px;
  column-gap: 8px;
  row-gap: 8px;
  background-color: rgba(255, 164, 164, 0.658);
  padding: 8px;
}
.casa {
  display: flex;
  font-size: 30px;
  justify-content: center;
  background-color: bisque;
  text-align: center;
  vertical-align: middle;
  line-height: 96px;
  font-size: 50px;
}

.casa:hover {
  background-color: azure;
}

.resultado {
  display: flex;
  height: 48px;
  background-color: rgb(247, 240, 220);
  justify-content: center;
}

.mensagemResultado {
  background-color: rgb(250, 212, 165);
  width: max-content;
}
